.bannerArea{
    display: none;
}

.logoFacens{
    display: flex;
    justify-content: center;
    margin: 12.4rem 0 7.5rem;
}

.logoFacens img{
    width: 18rem;
    height: 7.8rem;
}

.loginForms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emailField, .passwordField {
    width: 42.9rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
}

.emailField label, .passwordField label {
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.emailField input, .passwordField input{
    border: none;
    border-radius: 0.8rem;
    background-color: #EEEEEE;
    padding: 1.4rem 0 1.4rem 2rem;
    color: #555555;
    font-size: 1.4rem;
}

.forgotPassword{
    display: flex;
    justify-content: end;
    font-size: 1.4rem;
    margin-bottom: 3.7rem;
    color: #1E2772;
}

.forgotPassword a{
    color: #1E2772;
}

.btnRegister{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42.9rem;
    height: 5rem;

    border: 0.1rem solid #1E2772;
    border-radius: 0.8rem;

    background-color: #ffffff;
    color: #1E2772;

    padding: 1.3rem 16.6rem;
    font-weight: 600;
    font-size: 1.6rem;
    
    cursor: pointer;
}

.divisor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.7rem 0rem;
}

.divisor span{
    color: #C2C2C2;
    padding: 0rem 2rem;
    font-size: 1.4rem;
}

.line{
    border: 0.1rem solid #C2C2C2;
    width: 18.4rem;
    height: 0rem;
}

.emailField, .passwordField{
    position: relative;
    width: 100%;
}

.emailImg, .passwordImg{
    position: absolute;
    right: 0;
    top: calc(46% - 0.5rem);
}

@media (min-width: 1024px) {
    main {
        display: flex;
        height: 100vh;
        justify-content: center
    }

    .bannerArea {
        flex: 1;  
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
    }

    .bannerArea img{
        height: 100vh;
        width: 80%;
        object-fit: contain;
    }

    .loginForms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2.7rem 0;
        width: 100%;
    }
    
    .loginArea{
        box-shadow: -28px 0px 50px rgba(0, 0, 0, 0.1);
    }


    .emailField, .passwordField {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2.4rem;
    }

    .btnRegister {
        width: 100%;
        font-size: 1.6rem;
    }

    .divisor {
        margin: 2rem 0;
    }

    .divisor .line {
        width: 100%;
    }
}
