<main>
    
    <div class="sign-up">
        <div class="logoLiga">
            <img src="/assets/logo-liga.png" alt="Logo do LIGA Facens">
        </div>

        <form class="formArea">
            <div class="formColuna1">
                <div class="inputArea">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
                </div>
    
                <div class="inputArea">
                    <label for="celular">Celular</label>
                    <input type="tel" name="celular" id="celular" placeholder="(00) 00000-0000">
                </div>
    
                <div class="inputArea">
                    <label for="cpf">CPF</label>
                    <input type="number" name="cpf" id="cpf" placeholder="000.000.000-00">
                </div>
    
                <div class="inputArea">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu email">
                </div>
    
                <div class="inputArea">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Digite seu senha">
                </div>
            </div>
            <div class="formColuna2">
                <div class="inputArea">
                    <label for="cep">CEP</label>
                    <input type="number" name="cep" id="cep" placeholder="00000-000">
                </div>
    
                <div class="inputArea">
                    <label for="cidade">Cidade</label>
                    <input type="text" name="cidade" id="cidade">
                </div>
    
                <div class="inputArea">
                    <label for="bairro">Bairro</label>
                    <input type="text" name="bairro" id="bairro">
                </div>
    
                <div class="inputArea">
                    <label for="estado">Estado</label>
                    <input type="text" name="estado" id="estado">
                </div>

                <div class="btnArea">
                    <button class="btnConcluir">Concluir</button>
                </div>
            </div>
        </form>
    </div>

    <div class="bannerArea">
        <img src="/assets/bg-register.svg" alt="Ilustração de uma jovem usando o notebook com um balão dizendo Sign up">
    </div>

</main>
